/*here*/
.persistentCR .sprite-greenX.rd1 div {
    color: #DCEACA;
}
/*here*/
.overlay .suggest ul.arrows {
    width: 47.5%!important;
    margin: 10px 0 0;
}
/*here*/
.overlay .suggest ul.arrows.first {
    margin-right: 14px;
}
/*here*/
.overlay.help_center li {
    padding-left: 20px;
    margin-left: 5px;
}
/*here*/
.overlay.help_center ul.indent {
    padding-left: 20px;
}
/*here*/
.button a,
.button span,
.button input {
    display: block;
    overflow: visible;
    margin: 0;
    border: none;
    background-color: #da0e87;
    font: bold 1em/14px Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    color: #fff;
    text-shadow: #da0e87 0 0 0;
    white-space: nowrap;
    cursor: pointer;
    float: left;
}
/*here*/
.button a,
.button span {
    display: block;
    padding: 2px 9px;
}
/*here*/
.button a,
.button a:hover,
.button a:focus,
.button a:active,
.button a:visited {
    color: #fff;
    text-decoration: none;
}
/*here*/
.rating-list ul li ul {
    margin-bottom: 3px;
}
/*here*/
.rating-list ul li ul li {
    height: 100%;
    overflow: hidden;
    margin: 9px 0 -2px;
}
/*here*/
#FOOT .corporate .col.balance .brand dd.meta,
#FOOT .corporate .col.balance .brand dd.meta a {
    font-weight: bold;
    color: #4a4a4a;
}
/*here*/
.sprite-arrows,
.arrows li {
    background-image: url('/sprites/global_pack-v5a544e7c77faab1fde5249089dab28dd.png');
    background-position: left -1172px;
    background-repeat: no-repeat;
    padding: 0 0 4px 11px;
    line-height: 17px;
}
/*here*/
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}
/*here*/
ol,
ul {
    list-style: none;
}
/*here*/
body {
    margin: 0;
    padding: 0;
    font-size: medium;
    font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    color: #2c2c2c;
    background-color: #f1f1f1;
}

/*
legend {
    margin-left: -8px!ie;
}
input[type=radio],
input[type=checkbox] {
    cursor: pointer;
}
input[disabled=disabled] {
    cursor: auto;
}
.br {
    line-height: 14px;
}
*/
.wrap {
    height: 100%;
    overflow: hidden;
}
/*
.easyClear {
    zoom: 1;
}
.easyClear:after {
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    content: ".";
    visibility: hidden;
    zoom: 1;
}
.full_wrap {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.floatContainer:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}
.floatContainer {
    display: inline-block;
}
*/
/*here*/
.street-address,
.locality span[property="v:postal-code"] {
    unicode-bidi: embed;
    direction: ltr;
}
/*
.extended-address {
    unicode-bidi: embed;
}
*/
/*here*/
.rtl .locality span[property="v:locality"],
.rtl .locality {
    direction: rtl;
    unicode-bidi: embed;
}
/*here*/
img.tracking {
    display: none!important;
}
/*
.js_target {
    display: none;
}
i.eg {
    display: block;
    color: #565656;
    font-size: 85%;
    font-style: normal;
    clear: both;
}
.b {
    font-weight: bold;
}
.i {
    font-style: italic;
}*/
.fl {
    float: left;
}
.fr {
    float: right;
}
/*
.clearFix {
    clear: both;
}
.posRel {
    position: relative;
}
*/

/*here*/
img {
    vertical-align: text-top;
}
/*
.pointer {
    cursor: pointer;
}
.hidden {
    display: none;
}
h2,
h3,
h4,
h5,
h6,
caption,
legend {
    font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
}
h1 {
    font: normal 1em/110% Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
}
#BODYCON h1 {
    font-size: 2.5835em;
    font-weight: bold;
    color: #000;
}
*/
/*here*/
#BODYCON h1 span.altHead {
    color: #2C2C2C;
    display: block;
    font-size: .68em;
}
/*here*/
#BODYCON h1 span.altHeadInline {
    color: #2C2C2C;
    display: inline-block;
    font-size: .68em;
}
/*
h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #4a4a4a;
}
h3 {
    font-size: 1.0835em;
    font-weight: bold;
    color: #4a4a4a;
}
h4,
h5,
h6 {
    font-size: 1em;
    font-weight: bold;
    color: #4a4a4a;
}
legend {
    color: #2c2c2c;
}
select {
    padding: 1px;
    border: 1px solid #c8c8c8;
    background-color: #fff;
}
input.text {
    margin-right: 2px;
    padding: 2px;
    border: 1px solid #c8c8c8;
    background-color: #fff;
}
*/

/*here*/
.midDot li {
    margin-bottom: 4px;
    line-height: 140%;
}
/*here*/
.midDot li.current {
    font-weight: bold;
}
/*here*/
.arrows li.flyout {
    padding-left: 0;
}
/*here*/
.arrows li.flyout a {
    padding-left: 18px;
}
/*here*/
.dotBullets li {
    margin: 4px 0;
    padding-left: 11px;
    background: url("/img2/bullets/dotBullet_oliveDrab.gif") 0 .45em no-repeat;
    line-height: 140%;
}
/*here*/
body.tablet_calendar_update {
    min-width: 1024px;
    position: relative;
}
/*here*/
.box .iab_medRec div {
    white-space: nowrap;
}
/*here*/
a,
a:visited,
a:active {
    color: #069;
    text-decoration: none;
    outline: none;
}
/*here*/
a:hover,
a:focus {
    text-decoration: underline;
}

/*here*/
a.grayLnk {
    color: #2C2C2C;
}
/*here*/
a.grayLnk:hover {
    color: #2C2C2C;
    text-decoration: none;
}
/*here*/
a.grayLnk:visited {
    color: #2C2C2C;
    text-decoration: none;
}
/*here*/
a.grayLnk:active {
    color: #2C2C2C;
    text-decoration: none;
}
/*here*/
#HEAD {
    background: #FFF;
    font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    position: relative;
    width: 100%;
    z-index: 204;
    -webkit-font-smoothing: antialiased;
}
/*here*/
#HEAD .masthead {
    margin: 0 auto;
    position: relative;
}
/*here*/
.fluid #HEAD .masthead {
    margin: 0;
}
/*here*/
#HEAD .container {
    margin: 0 auto;
    min-height: 41px;
    overflow: hidden;
    position: relative;
    width: 983px;
}
/*here*/
#HEAD .brandArea {
    position: absolute;
    width: 100%;
    z-index: 1;
}
/*here*/
#HEAD .brandArea::before {
    content: '';
    display: inline-block;
    height: 42px;
    vertical-align: middle;
    zoom: 1;
    display: inline!ie;
}
/*here*/
#HEAD .topLogo {
    display: inline-block;
    height: 35px;
    width: 197px;
    vertical-align: middle;
    zoom: 1;
    display: inline!ie;
}
/*here*/
#USER_PREFS {
    color: #656565;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
/*
#HEAD .sprite-arrow_dropdown_gry_refresh {
    margin: 3px 0 0 4px;
    vertical-align: top;
}
*/
/*here*/
#USER_PREFS ul {
    font-size: .9165em;
    margin: 2px 0;
}
/*here*/
#USER_PREFS li {
    float: left;
}
#USER_PREFS li .link {
    border-left: 1px solid #EAEAEA;
    cursor: pointer;
    float: left;
    font-size: 1.0835em;
    line-height: 15px;
    margin-top: 8px;
    padding: 4px 10px;
}
#USER_PREFS li:first-child .link {
    border-left: 0;
    padding-left: 0;
}
/*
#USER_PREFS li .link.noninteractive {
    cursor: default;
}
#USER_PREFS li .link.greeting {
    padding-left: 4px;
}
#USER_PREFS li .link.greeting b {
    display: inline-block;
    max-width: 135px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
*/
/*here*/
#USER_PREFS li .link a {
    color: #656565;
}
/*
#USER_PREFS li .link .newMessages {
    background: #DC7B00;
    color: #FFF;
    display: inline-block;
    font-size: .8335em;
    height: 1.275em;
    line-height: 1.5em;
    margin-left: 2px;
    padding: 0 0 .1em .1em;
    position: relative;
    text-align: center;
    top: -0.625em;
    width: 1.275em;
    zoom: 1;
    display: inline!ie;
}

#USER_PREFS li .link .newMessages:hover {
    text-decoration: none;
}
#USER_PREFS li .sprite-facebook15x15 {
    height: 15px;
    padding: 0;
    width: 15px;
}
#USER_PREFS .circularAvWrap {
    border: 1px solid #EDEDED;
    border-radius: 100%;
    float: left;
    padding: 2px;
    position: relative;
}
#USER_PREFS .circularAvWrap.smallCircularAvWrap {
    height: 30px;
    width: 30px;
}
#USER_PREFS .circularAvWrap .circularAvatar {
    border-radius: 100%;
}
#USER_PREFS .circularAvWrap .facebookIcon {
    bottom: 0;
    height: 12px;
    left: 0;
    position: absolute;
    width: 12px;
}*/
#HEAD .tabsBar {
    background: #da0e87;
    background: -moz-linear-gradient(top, #da0e87 0, #da0e87 100%);
    background: -webkit-linear-gradient(top, #da0e87 0, #da0e87 100%);
    background: -webkit-gradient(linear, top, bottom, color-stop(0%, #68b14e), color-stop(100%, #da0e87));
    background: -o-linear-gradient(top, #da0e87 0, #da0e87 100%);
    background: -ms-linear-gradient(top, #da0e87 0, #da0e87 100%);
    background: linear-gradient(to bottom, #da0e87 0, #da0e87 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#68b14e', endColorstr='#da0e87', GradientType=0);
    border-bottom: 1px solid #da0e87;
    height: 37px;
    margin-left: -8px;
    width: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#HEAD .tabsBar::before {
    content: '';
    border-top: 1px solid #da0e87;
    background-color: #da0e87;
    line-height: 1px;
    height: 1px;
    position: absolute;
    width: 100%;
}
#HEAD .tabs {
    margin: 0 auto;
    width: 994px;
}
/*here*/
#HEAD .tabs>li {
    display: block;
    float: left;
    height: 36px;
    margin: 1px 0 0;
    position: relative;
}
/*here*/
#HEAD .tabs>li:hover,
#HEAD .tabItemShown {
    background: #da0e87;
    box-shadow: inset 8px 0 8px -8px rgba(75, 126, 55, .75), inset -8px 0 8px -8px rgba(75, 126, 55, .75);
}
/*here*/
#HEAD .tabs .tabLink,
#HEAD .tabs .tabLink a,
#HEAD .tabs .tabNoLink {
    color: #FFF;
    display: inline-block;
}
#HEAD .tabs .tabLink,
#HEAD .tabs .tabNoLink {
    display: block;
    float: left;
    font-weight: normal;
    height: 34px;
    line-height: 34px;
    padding: 1px 10px;
    position: relative;
    z-index: 3;
}
#HEAD .tabs .tabLink {
    color: #FFF;
    line-height: 34px;
}
#HEAD .tabItem .new,
#HEAD .tabItemNoLink .new {
    background: #dc7b00;
    padding: 2px 5px 2px 3px;
    color: #fff;
    font-size: .8335em;
    text-shadow: 1px 1px 0 #b05003;
}
/*here*/
#HEAD .tabs a:hover {
    text-decoration: none;
}
#HEAD .tabs .sprite-arrow_dropdown_wht_refresh {
    display: inline-block;
    margin: 4px 0 0 4px;
}
#HEAD .geoName {
    float: left;
    max-width: 81px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#HEAD .geoName.truncate {
    width: 81px;
}
#HEAD .tabs .sprite-facebook15x15 {
    display: inline-block;
    height: 15px;
    padding: 0;
    position: relative;
    top: 3px;
    width: 15px;
}
#HEAD .tabs #FBL_JEWEL {
    background: #DC7B00;
    border: 1px solid #FFF;
    font-size: .8335em;
    font-weight: bold;
    height: 12px;
    line-height: 13px;
    position: absolute;
    text-align: center;
    top: -6px;
    width: 13px;
}
.secondaryNavBar {
    background: #3d236c;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    clear: both;
    font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    font-size: 1.083em;
    line-height: 17px;
    min-height: 33px;
    position: relative;
    width: 100%;
    z-index: 203;
    -webkit-font-smoothing: antialiased;
}
.secondaryNavBar .crumbs {
    left: 50%;
    margin-left: -491px;
    padding-bottom: 5px;
    padding-top: 7px;
    position: relative;
    width: 983px;
}
.domn_ja .secondaryNavBar .crumbs {
    font-family: "ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro W3", "Hiragino Kaku Gothic Pro", "ãƒ¡ã‚¤ãƒªã‚ª", Meiryo, Osaka, "ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯", "MS PGothic", sans-serif;
}
.secondaryNavBar .crumbs .breadcrumbs {
    display: inline;
    overflow: hidden;
}
.lang_ko .secondaryNavBar .crumbs .breadcrumbs {
    width: 600px;
}
/*here*/
.secondaryNavBar .crumbs .breadcrumbs li {
    color: #B4C5AE;
    cursor: default;
    display: inline-block;
    zoom: 1;
    display: inline!ie;
}
/*here*/
.secondaryNavBar .crumbs .breadcrumbs a {
    color: #FFF;
    text-decoration: none;
}
/*here*/
.secondaryNavBar .crumbs .breadcrumbs a:hover {
    text-decoration: underline;
}
.secondaryNavBar .crumbs .breadcrumbs .separator {
    margin: 5px 9px 3px 10px;
}
.secondaryNavBar .searchSpacer {
    float: right;
    height: 23px;
    width: 220px;
}
.secondaryNavBar .globalSearch {
    position: absolute;
    right: 0;
    top: 5px;
}
.secondaryNavBar .globalTypeAhead .sprite-image {
    top: 12px;
}
.secondaryNavBar .fader {
    background: transparent;
    background: -moz-linear-gradient(left, rgba(132, 113, 166, 0) 0, rgba(132, 113, 166, 1) 100%);
    background: -webkit-gradient(linear, left, right, color-stop(0%, rgba(132, 113, 166, 0)), color-stop(100%, rgba(132, 113, 166, 1)));
    background: -webkit-linear-gradient(left, rgba(132, 113, 166, 0) 0, rgba(132, 113, 166, 1) 100%);
    background: -o-linear-gradient(left, rgba(132, 113, 166, 0) 0, rgba(132, 113, 166, 1) 100%);
    background: -ms-linear-gradient(left, rgba(132, 113, 166, 0) 0, rgba(132, 113, 166, 1) 100%);
    background: linear-gradient(left right, rgba(132, 113, 166, 0) 0, rgba(132, 113, 166, 1) 100%);
    float: left;
    height: 23px;
    width: 20px;
}
.secondaryNavBar .navSrch {
    background: #FFF;
    border: 0;
    border-radius: 3px;
    box-shadow: inset 2px 2px 3px 0 #CCC;
    float: left;
    height: 23px;
    width: auto;
}
.secondaryNavBar .navSrch .text {
    background-color: transparent;
    border: 0;
    color: #686868;
    float: left;
    font-family: Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
    font-size: 1em;
    margin: 4px 8px;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    width: 175px;
}
.secondaryNavBar .navSrch .text::-ms-clear {
    width: 0;
    height: 0;
}
.secondaryNavBar .sprite-search_mag_glass {
    float: left;
    margin: 3px;
    padding: 0;
    width: 20px;
    outline: 0;
}
.hotelsDD {
    white-space: nowrap;
    width: 320px!ie;
}
.hotelsDD .popDests {
    overflow: hidden;
}
.hotelsDD .allHotels {
    font-weight: normal;
    border-bottom: 1px solid #da0e87;
    padding: 12px;
}
/*here*/
.hotelsDD a {
    color: #656565;
    display: block;
}
/*here*/
.hotelsDD .allHotels a {
    color: #656565;
}
/*here*/
.hotelsDD .allHotels a:hover {
    text-decoration: underline;
}
/*here*/
.hotelsDD .popDestsLink a {
    margin: 0 1px;
    padding: 6px 12px;
}
/*here*/
.hotelsDD .popDestsLink a:hover {
    background: #da0e87;
    color: #FFF;
    text-decoration: none;
}
/*here*/
.hotelsDD .popDestsLeft .popDestsLink a {
    padding-right: 20px;
}
.hotelsDD .popDestsRight {
    float: right!ie;
}
.tchNavPromo {
    border-top: 1px solid #8471a6;
    height: 100%;
    padding-top: 8px;
    text-align: center;
}
.tchNavPromo p {
    color: #2C2C2C;
    margin: 8px 0 0;
    padding: 0 4px 12px;
}
.tchNavPromoLink {
    display: block;
}
.tchNavPromoLink:hover {
    text-decoration: none;
}
.tchNavPromo .taLnk {
    text-decoration: underline;
}
/*here*/
.mastercardNav span {
    display: block;
    font-size: .85em;
    color: #2C2C2C;
}
.restaurantsDD {
    padding: 14px 12px;
}
.restaurantsDD .text {
    color: #686868;
    font-family: inherit;
    height: 18px;
    width: 194px;
}
.restaurantsDD select {
    display: block;
    margin: 12px 0;
}
.tabs .subNav,
.tabs .secondSubNav,
.dropMenu_refresh {
    background: #FFF;
    border: 1px solid #3d236c;
    border-width: 1px 2px 2px 1px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .5);
    padding: 5px 0;
}
.tabs .subNav,
.tabs .expandSubItem .secondSubNav {
    display: none;
    left: 0;
    position: absolute;
    top: 36px;
    z-index: 2;
}
.tabs .expandSubItem .secondSubNav {
    top: -0.125em;
}
.tabs .expandSubItem:hover .secondSubNav {
    display: block;
    left: 100%;
    position: absolute;
    z-index: 2;
}
/*here*/
.tabs .subNav a {
    color: #656565;
}
/*here*/
.dropMenu_refresh a {
    display: block;
}
/*here*/
.dropMenu_refresh a:hover {
    text-decoration: none;
}
/*here*/
.dropMenu_refresh .inner .subLink:hover,
.dropMenu_refresh .inner .taLnk:hover a,
.subItem .subLink:hover,
.subItemNoLink .subNoLink:hover,
.expandSubItem .expandSubLink:hover {
    background: #da0e87;
    color: #FFF;
    text-align: none;
}
/*here*/
.dropMenu_refresh .inner ul {
    padding: 7px 1px;
}
/*here*/
.dropMenu_refresh .inner .subLink,
.dropMenu_refresh .inner .subItemNoLink .subNoLink,
.dropMenu_refresh .inner .taLnk a {
    color: #656565;
    margin: 1px;
}
/*here*/
.dropMenu_refresh .inner .subLink,
.dropMenu_refresh .inner .taLnk a {
    cursor: pointer;
}
/*here*/
#HEAD .backLogoWrapper .topLogo {
    display: inline-block;
    vertical-align: top;
}
.tabs .warLink {
    cursor: pointer;
}
/*here*/
#WAR_TO_DO_LIST .warLoc:hover .warLocName,
#WAR_TO_DO_LIST .warLoc:hover a {
    color: #FFF;
}
#WAR_NOTIFICATION_FLAG.lsJewelCounter {
    background: url("../assets/jewel_bubble.png") no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0;
    right: -7px;
    height: 16px;
    width: 16px;
    line-height: 15px;
    text-align: center;
    font-size: .8335em;
    font-weight: bold;
}
/*here*/
.swirllinkset li {
    margin-bottom: 6px;
    line-height: 17px;
}
/*here*/
.hotelsAround li {
    padding: 3px 0 6px 0;
}
/*here*/
.moreReviews li {
    padding: 3px 0 6px 0;
}
/*here*/
#RECENTLY_VIEWED_LIST li {
    padding-bottom: 9px;
}
/*here*/
#RECENTLY_VIEWED_LIST li.first {
    padding-top: 5px;
}
/*here*/
#RECENTLY_VIEWED_LIST li.footer {
    padding-top: 5px;
    color: #656565;
}
/*here*/
#RHS_MAP .js_floatableMap .sponsored a {
    text-transform: capitalize;
}
/*here*/
.NoCROrGCR .commerce .interior dl dd ul li {
    width: 600px;
}
/*here*/
.commerce .interior dl a {
    display: block;
    padding: 5px 0 7px;
    text-decoration: none;
}
/*here*/
.commerce .interior dl a:hover,
.commerce .interior dl a:hover span {
    color: #da0e87!important;
}
/*here*/
.commerce .interior dl dd ul li {
    width: 300px;
}
/*here*/
.commerce .interior dl dd.b a {
    padding-top: 0;
}
/*here*/
div.overlay.dp {
    border: 1px solid #C8C8C8;
    margin: 0;
    box-shadow: 2px 2px 2px -1px rgba(128, 128, 128, 0.6);
}
/*here*/
#ALSO_VIEWED_LIST li.lodging,
#ALSO_VIEWED_LIST li.eatery {
    margin-bottom: 10px;
    clear: both;
}
/*here*/
#ALSO_VIEWED_LIST .propertyLink,
#ALSO_VIEWED_LIST .propertyLink a {
    font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    font-size: 1em;
    color: #069;
    font-weight: bold;
    width: 135px;
}
/*here*/
#ALSO_VIEWED_LIST .expand_av_inner.show li {
    height: auto;
}
/*here*/
#ALSO_VIEWED_LIST .bookingButton a {
    color: #2c2c2c;
}
/*here*/
#ALSO_VIEWED_LIST.metaMicro .propertyLink,
#ALSO_VIEWED_LIST.metaMicro .propertyLink a {
    width: 233px;
}
/*here*/
#ALSO_VIEWED_LIST.racVersion .propertyLink,
#ALSO_VIEWED_LIST.racVersion .propertyLink a {
    font-size: 1.0835em;
    font-weight: normal;
}
/*here*/
#HSCS a {
    font-size: 1.167em;
}
/*here*/
#HSCS .showAllBox a {
    font-weight: bold;
}
/*here*/
#history_carousel_content div.parent_name {
    line-height: 13px;
}
/*here*/
#history_carousel_tabs li {
    margin-left: 4px;
    padding: 8px 14px 7px;
    border: 1px solid #c7c7c7;
    font: bold 1.1670em Arial;
    color: #069;
    background-color: #ededed;
    float: left;
}
/*here*/
#history_carousel_tabs li.active,
#history_carousel_tabs li.activeHover {
    color: #3a3a3a;
    background-color: #fff;
}
/*here*/
#history_carousel_tabs li.active {
    border-bottom-color: #fff;
}
/*here*/
#history_carousel_tabs li.activeHover {
    cursor: pointer;
}
/*here*/
#history_carousel .hotel_list_wrapper li.lodging {
    margin-top: 14px;
}
/*here*/
#history_carousel .hotel_list_wrapper li.lodging .content div {
    line-height: 13px;
    width: 205px;
    overflow: hidden;
}
/*here*/
#SHOW_USER_REVIEW #history_carousel .hotel_list_wrapper li.lodging .content div {
    width: 105px;
}
/*here*/
#history_carousel .hotel_list_wrapper li.lodging .content div.propertyLink {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*here*/
#also_viewed_carousel .carousel_content div.parent_name {
    line-height: 14px!important;
}
/*here*/
#also_viewed_carousel .carousel_content .carousel_item .content div {
    line-height: 17px;
}
/*here*/
#also_viewed_carousel .carousel_content .carousel_item .content div.propertyLink {
    text-overflow: ellipsis;
    line-height: 12px;
    overflow: hidden;
    width: 115px;
}
/*here*/
#also_viewed_carousel .vr_recommend .carousel_item .content div {
    font-size: 11px;
}
/*here*/
div.moreOptions {
    display: none;
}
/*here*/
div.moreOptions.displayed {
    display: block;
}
.moreOptionsLink {
    color: #4ab0d9;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: .8em;
    padding-left: 20px;
    display: inline-block;
}
.moreOptionsLink.hidden {
    display: none;
}
.preferenceOverlayBodyOffset.ltQuestions {
    height: 75%;
}
.someProfileStuff.ltQuestions {
    position: fixed;
    top: 0;
    left: 0;
}
.sprite-preferences_grey_arrow {
    background-image: url('/sprites/prodp13n_preferences_overlay_pack-v7241a5772077da67c75d40d1f892a8b4.png');
    background-position: left 0;
    background-repeat: no-repeat;
}
.sprite-preferences_edit_gear {
    background-image: url('/sprites/prodp13n_preferences_overlay_pack-v7241a5772077da67c75d40d1f892a8b4.png');
    background-position: left -14px;
    background-repeat: no-repeat;
}
.sprite-preferences_add_sign {
    background-image: url('/sprites/prodp13n_preferences_overlay_pack-v7241a5772077da67c75d40d1f892a8b4.png');
    background-position: left -38px;
    background-repeat: no-repeat;
}
.sprite-preferences_green_arrow {
    background-image: url('/sprites/prodp13n_preferences_overlay_pack-v7241a5772077da67c75d40d1f892a8b4.png');
    background-position: left -62px;
    background-repeat: no-repeat;
}
.sprite-preferences_radio_selected,
.sprite-preferences_radio.selected,
.selected .sprite-preferences_radio {
    background-image: url('/sprites/prodp13n_preferences_overlay_pack-v7241a5772077da67c75d40d1f892a8b4.png');
    background-position: left -76px;
    background-repeat: no-repeat;
}
.sprite-preferences_email {
    background-image: url('/sprites/prodp13n_preferences_overlay_pack-v7241a5772077da67c75d40d1f892a8b4.png');
    background-position: left -116px;
    background-repeat: no-repeat;
}
.sprite-preferences_radio_unselected,
.sprite-preferences_radio {
    background-image: url('/sprites/prodp13n_preferences_overlay_pack-v7241a5772077da67c75d40d1f892a8b4.png');
    background-position: left -148px;
    background-repeat: no-repeat;
}
.sprite-preferences_facebook_f {
    background-image: url('/sprites/prodp13n_preferences_overlay_pack-v7241a5772077da67c75d40d1f892a8b4.png');
    background-position: left -176px;
    background-repeat: no-repeat;
}
.sprite-preferences_generic_avatar {
    background-image: url('/sprites/prodp13n_preferences_overlay_pack-v7241a5772077da67c75d40d1f892a8b4.png');
    background-position: left -208px;
    background-repeat: no-repeat;
}
.sprite-preferences_chevron_arrow {
    background-image: url('/sprites/prodp13n_preferences_overlay_pack-v7241a5772077da67c75d40d1f892a8b4.png');
    background-position: left -248px;
    background-repeat: no-repeat;
}
.sprite-preferences_chevron_back_arrow {
    background-image: url('/sprites/prodp13n_preferences_overlay_pack-v7241a5772077da67c75d40d1f892a8b4.png');
    background-position: left -260px;
    background-repeat: no-repeat;
}
.sprite-preferences_google_g {
    background-image: url('/sprites/prodp13n_preferences_overlay_pack-v7241a5772077da67c75d40d1f892a8b4.png');
    background-position: left -272px;
    background-repeat: no-repeat;
}
.sprite-preferences_close_x {
    background-image: url('/sprites/prodp13n_preferences_overlay_pack-v7241a5772077da67c75d40d1f892a8b4.png');
    background-position: left -304px;
    background-repeat: no-repeat;
}
#PAGE {
    font-size: .75em;
}
#MAIN {
    position: relative;
    height: 100%;
    overflow: hidden;
    clear: both;
    border: 1px solid #e3e3e3;
}
#BODYCON {
    width: 983px;
    zoom: 1;
    overflow: hidden!important;
    padding-bottom: 15px;
}
#BODYCON.adjust_padding {
    margin-top: 15px;
}
#BODYCON .balance {
    width: 624px;
    padding: 0 14px 5px;
    border-right: 1px solid #e6e6e6;
    float: left;
}
#BODYCON #HOTELS_BLENDER .balance {
    width: 652px;
    padding: 0 0 5px 1px;
    border-right: 1px solid #e6e6e6;
    float: left;
}
#BODYCON #HOTELS_BLENDER .single_col_hotels {
    width: 100%;
    padding: 0 0 5px 1px;
    clear: both;
}
#BODYCON .sidebar {
    width: 300px;
    overflow: visible;
    padding: 0 14px;
    _padding-right: 6px;
}
#BODYCON .sidebar h2 {
    padding-bottom: 7px;
}
#BODYCON:after {
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
    content: ".";
}
.gridA {
    height: 100%;
    overflow: hidden;
}
.gridA .sidebar {
    width: 300px;
    float: right;
}
.gridA .balance {
    width: 467px;
}
#BODYCON .sidebar .bx01.deals h2 {
    font-size: 1.3em;
}
.overlay.ocal {
    margin-top: 20px;
}
.calendar {
    position: relative;
    width: 350px;
    height: 175px;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    background: #fff url("/img2/generic/site/bgSolidRule_oliveDrab.gif") 50% 0 repeat-y;
    overflow: hidden;
}
.calendar .navCal {
    position: relative;
    z-index: 1001;
    top: 25px;
    width: 100%;
    height: 26px;
    margin-top: -25px;
    border-bottom: 1px solid #d9e4c4;
}
/*here*/
.calendar .navCal span {
    position: absolute;
    top: 6px;
}
/*here*/
.calendar .navCal span.prev {
    left: 9px;
}
.calendar .navCal .next {
    right: 9px;
}
/*here*/
.calendar .navCal span a {
    display: block;
    width: 15px;
    height: 16px;
    text-indent: -5000px;
    line-height: 16px;
    cursor: pointer;
}
/*here*/
.calendar .navCal span.prev a {
    background-image: url("/img2/icons/gui/arrowPrevCal_oliveDrab.gif");
}
/*here*/
.calendar .navCal span.next a {
    background-image: url("/img2/icons/gui/arrowNextCal_oliveDrab.gif");
}
/*here*/
.calendar .navCal span a:hover {
    text-decoration: none;
}
/*here*/
.calendar .month tbody td a {
    display: block;
    color: #2c2c2c;
    cursor: pointer;
}
/*here*/
.calendar .month tbody td.today a {
    color: #c60;
}
/*here*/
.desktop .calendar .month tbody td a:hover {
    background-color: #f6df9c;
}
/*here*/
.sprite-fb_16,
.friendActivityTab span,
.friendActivityTab a {
    background-repeat: no-repeat;
    background-image: url('/sprites/social-v390f954a001fa346fba148acd011198a.png');
    background-position: left -208px;
    width: 16px;
    height: 16px;
}
/*here*/
/*homepage*/
    #PPT {
        position: relative;
        width: 100%;
        height: 100%;
        min-width: 977px;
        margin-bottom: 2px;
        background-color: #fff;
    }
    #PPT .ppt_meta_wrapper {
        position: absolute;
        bottom: 0;
        height: 180px;
        width: 100%;
    }
    #PPT .ppt_meta {
        position: absolute;
        z-index: 1;
        top: 0;
        padding: 0 24px;
    }
    #PPT .ppt_header {
        margin-bottom: 18px;
        font-weight: normal;
        font-size: 3.3em;
        line-height: 1em;
        color: #3e246d;
        -webkit-font-smoothing: antialiased;
    }
    #PPT .ppt_forms {
        width: 895px;
        padding: 18px 18px 12px 16px;
        border: 1px solid #fff;
        border-radius: 4px;
        background: url("/img2/meta_sprites/meta_bg_wht.png") 0 0 repeat;
    }
    #PPT .ppt_input {
        display: inline-block;
        height: 100%;
        overflow: hidden;
        margin-bottom: 6px;
        outline: none;
    }
    #PPT .ppt_input .label {
        margin-right: 11px;
        font-weight: bold;
        font-size: 1.3335em;
        line-height: 19px;
        cursor: pointer;
    }
    #PPT .ppt_input .radio_ui {
        position: relative;
        top: 1px;
        width: 17px;
        height: 16px;
        margin-right: 5px;
        background: url("/img2/icons/radio_gray.png") 0 -32px no-repeat;
        cursor: pointer;
        float: left;
    }
    .rtl #PPT .ppt_input .radio_ui {
        background-position: 0 -32px;
    }
    #PPT .ppt_input.checked .radio_ui {
        background-position: -17px 0;
    }
    #PPT .ptptContent {
        display: none;
    }
    #PPT .ptptContent.active {
        display: block;
    }
    .ppt_innerContent {
        position: absolute;
        width: 977px;
        top: 0;
        z-index: 1;
        left: 50%;
        margin-left: -488px;
    }
    .heroImageWidth {
        width: 1482px;
        position: relative;
    }
    .ltr .heroImageWidth {
        left: 50%;
        margin-left: -741px;
    }
    .rtl .heroImageWidth {
        right: 50%;
        margin-right: -741px;
    }
    .heroImageHeight {
        height: 500px;
    }
    .headerScrollLimiter {
        max-width: 1482px;
    }
    .promo_featured_image {
        height: 500px;
        width: 1482px;
        background: url(/img2/home/featurepromos/homepage_bora_bora.jpg);
    }
    .ppt_innerContent {
        height: 500px;
    }
    .headerCarouselPlaceholder,
    .navArrowBox {
        display: none;
    }
    #PPT .big_text {
        padding: 10px 11px 8px;
        padding-bottom: 9px!ie;
        padding-bottom: 9px\0/;
        border: 1px solid #c8c8c8;
        background-color: #fff;
        font: normal 1.4165em Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
        color: #2c2c2c;
        outline: none;
    }
    #PPT .big_text.beforeOnLoad {
        transition: border-color 2s ease-in-out, box-shadow 2s ease-in-out;
        -webkit-transition: border-color 2s ease-in-out, box-shadow 2s ease-in-out;
        -moz-transition: border-color 2s ease-in-out, box-shadow 2s ease-in-out;
    }
    #PPT .big_text.focusClear {
        color: #787878;
    }
    #PPT .big_text.sHotels {
        width: 326px;
        margin-right: 6px;
    }
    #PPT .big_text.sFlights {
        width: 318px;
    }
    #PPT .big_text.sRestaurants {
        width: 645px;
    }
    #PPT .big_text.sVrs {
        width: 289px;
        margin-right: 6px;
    }
    #PPT .big_text.sDestinations {
        width: 645px;
    }
    #PPT .focusInput {
        position: relative;
        box-shadow: 0 0 1px 1px transparent inset;
    }
    #PPT .focusInput:focus,
    #PPT .focusInput.focusOnLoad {
        border: 1px solid #93d47c;
        box-shadow: 0 0 1px 1px #3d236c inset;
    }
    #PPT .ppt_sections .date_picker_calendar_wrap.dual_date {
        width: 165px;
        border: 1px solid #c8c8c8;
        background-color: #fff;
        font: normal 1em Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
        color: #2c2c2c;
        outline: none;
    }
    #PPT .med_text {
        width: 127px;
        padding: 7px 0 6px 31px;
        border: 1px solid #c8c8c8;
        background-color: #fff;
        font: normal 1em Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
        color: #2c2c2c;
        outline: none;
    }
    #PPT .date_picker_calendar_wrap.dual_date .date {
        width: 165px;
    }
    #PPT .date_picker_calendar_wrap.dual_date:focus {
        width: 165px;
        border: 1px solid #3d236c;
        background-color: #fff;
        font: normal 1em Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
        color: #2c2c2c;
        outline: none;
    }
    .rtl #PPT .date_picker_calendar_wrap.dual_date.classicStyling .date_picker.date {
        width: 165px;
    }
    .rtl #PPT .date_picker_calendar_wrap.dual_date {
        width: 165px;
    }
    .rtl #PPT .big_text.sHotels {
        width: 336px;
    }
    #PPT .focusInput:focus {
        border: 1px solid #3d236c;
    }
    #PPT .typeahead.error {
        border: 1px solid red;
    }
    #PPT #FLIGHT_FORM_META input.error {
        border: 1px solid red;
    }
    .metaFormWrapper {
        width: 712px;
        margin-top: 0;
        margin-left: 0;
    }
    #PPT .date_picker_calendar_wrap {
        width: 341px;
        padding: 10px 0 8px;
        padding-bottom: 9px!ie;
        padding-bottom: 9px\0/;
        outline: none;
    }
    #PPT #PTPT_VRAC_FORM .date_picker_calendar_wrap {
        width: 315px;
    }
    #PPT .date_picker_calendar_wrap .date {
        width: auto;
        height: auto;
        padding: 0 0 0 31px;
        font: normal 1.4165em Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    }
    #PPT .date_picker_calendar_nights {
        width: auto;
        margin-right: 11px;
        padding-top: 0;
        font: normal 1.4165em Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    }
    .date_picker_calendar.overlay.relative {
        margin-top: 8px;
    }
    .date_picker_calendar.overlay.relative.relAbove {
        margin-top: -11px;
    }
    .date_picker_calendar.paired.overlay.relative {
        margin-top: -1px;
    }
    .date_picker_calendar .calendar {
        height: 221px;
    }
    .date_picker_calendar.paired .calendar {
        height: 195px;
    }
    .date_picker_calendar #SKIP_DATES {
        position: absolute;
        bottom: 0;
        width: 390px;
        border-top: 1px solid #ebebeb;
        background-color: #f1f1f1;
        text-align: center;
    }
    .date_picker_calendar #SKIP_DATES .skip_dates_text {
        display: block;
        padding: 5px;
        border: 1px solid #fff;
    }
    #PPT .flights_col1 {
        width: 696px;
        float: left;
        margin-bottom: 6px;
    }
    #PPT .flights_col2 {
        width: 193px;
        float: right;
    }
    #PPT .flights_col1 .selections {
        margin-top: 6px;
    }
    #PPT .flights_col1 .flightArrow {
        display: inline-block;
        padding: 14px 3px 0;
    }
    #PPT .flights_col1 .flightArrow.reduce {
        padding-top: 9px;
    }
    #PPT .flights_col2 .moreOptions {
        display: block;
        margin: 4px 7px 0 0;
        text-align: right;
        float: right;
    }
    #PPT .flights_adults {
        position: relative;
        z-index: 1;
        width: 168px;
        height: 27px;
        height: 28px!ie;
        overflow: hidden;
        margin: 0 12px 0 0;
        margin-top: 1px!ie;
        border: 1px solid #c8c8c8;
        background-color: #fff;
        white-space: nowrap;
        outline: none;
        float: left;
        box-shadow: 0 0 1px 1px transparent inset;
    }
    #PPT .flights_adults.focusInput {
        border: 1px solid #93d47c;
        box-shadow: 0 0 1px 1px #3d236c inset;
    }
    #PPT .flights_adults .select {
        width: 100%;
        height: 100%;
        opacity: 0;
        filter: alpha(opacity=0) progid: DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=10, color=#fff);
        -moz-opacity: 0;
        bottom: 0;
    }
    #PPT .flights_adults .select-value {
        position: absolute;
        top: 7px;
        left: 13px;
        z-index: -1;
        font: normal 1em Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
        white-space: nowrap;
        float: none;
    }
    #PPT .flights_nonstop .checkbox {
        position: absolute;
        left: -5000px;
    }
    #PPT .flights_nonstop .checkbox_ui {
        display: inline-block;
        margin: 7px 0 0;
        padding: 1px 0 2px 21px;
        background: url("/img2/ui/checkbox_grn.png") 0 -32px no-repeat;
        line-height: 15px;
        cursor: pointer;
    }
    #PPT .flights_nonstop .checkbox_ui.checked {
        background-position: -18px 0;
    }
    #PPT #metaCheckOutSpan {
        margin-right: 9px;
    }
    #PTPT_HAC_FORM .cal {
        margin-right: 8px;
    }
    #PTPT_HAC_FORM .cal .med_text {
        padding: 9px 0 9px 31px;
        font-size: 1.4165em;
    }
    #PTPT_HAC_FORM .sprite-date_picker-calendarIcon_med_text {
        background-position: left -26px;
    }
    #ptptRestaurants .searchWrapper {
        width: 669px;
        height: 37px;
        position: relative;
        display: inline;
    }
    #ptptRestaurants .currentLocBtn {
        position: absolute;
        right: 0;
        height: 27px;
        margin: 5px;
        white-space: nowrap;
        font-size: 1em;
    }
/*here*/
#ptptRestaurants .currentLocBtn img {
        vertical-align: middle;
    }
    #ptptRestaurants .locNotFound {
        color: red;
        width: 669px;
        margin: auto;
        font-size: 1em;
    }
    .gradient_gry {
        height: 10px;
    }
    .sRestaurants,
    .sDestinations {
        margin-bottom: 8px;
    }
    .sprite-submit_hotels {
        background-image: url('../assets/button_go.png');
        background-position: left 0;
        width: 180px;
        height: 40px;
        display: block;
        outline: none;
    }
    .sprite-submit_hotels:hover,
    .sprite-submit_hotels:focus {
        background-image: url('../assets/button_go.png');
        background-position: left -40px;
        width: 180px;
        height: 40px;
        display: block;
    }
    .sprite-submit_hotels:active {
        background-image: url('../assets/button_go.png');
        background-position: left -80px;
        width: 180px;
        height: 40px;
        display: block;
    }
    .sprite-submit_flights {
        background-image: url('/sprites/langs/en_UK/meta_homepage-v38e37e490576f0dba6f13401296a3caa.png');
        background-position: left -120px;
        width: 193px;
        height: 40px;
        display: block;
        outline: none;
    }
    .sprite-submit_flights:hover,
    .sprite-submit_flights:focus {
        background-image: url('/sprites/langs/en_UK/meta_homepage-v38e37e490576f0dba6f13401296a3caa.png');
        background-position: left -160px;
        width: 193px;
        height: 40px;
        display: block;
    }
    .sprite-submit_flights:active {
        background-image: url('/sprites/langs/en_UK/meta_homepage-v38e37e490576f0dba6f13401296a3caa.png');
        background-position: left -200px;
        width: 193px;
        height: 40px;
        display: block;
    }
    .sprite-submit_restaurants {
        background-image: url('/sprites/langs/en_UK/meta_homepage-v38e37e490576f0dba6f13401296a3caa.png');
        background-position: left -240px;
        width: 220px;
        height: 40px;
        display: block;
        outline: none;
    }
    .sprite-submit_restaurants:hover,
    .sprite-submit_restaurants:focus {
        background-image: url('/sprites/langs/en_UK/meta_homepage-v38e37e490576f0dba6f13401296a3caa.png');
        background-position: left -280px;
        width: 220px;
        height: 40px;
        display: block;
    }
    .sprite-submit_restaurants:active {
        background-image: url('/sprites/langs/en_UK/meta_homepage-v38e37e490576f0dba6f13401296a3caa.png');
        background-position: left -320px;
        width: 220px;
        height: 40px;
        display: block;
    }
    .sprite-submit_vrs {
        background-image: url('/sprites/langs/en_UK/meta_homepage-v38e37e490576f0dba6f13401296a3caa.png');
        background-position: left -360px;
        width: 253px;
        height: 40px;
        display: block;
        outline: none;
    }
    .sprite-submit_vrs:hover,
    .sprite-submit_vrs:focus {
        background-image: url('/sprites/langs/en_UK/meta_homepage-v38e37e490576f0dba6f13401296a3caa.png');
        background-position: left -400px;
        width: 253px;
        height: 40px;
        display: block;
    }
    .sprite-submit_vrs:active {
        background-image: url('/sprites/langs/en_UK/meta_homepage-v38e37e490576f0dba6f13401296a3caa.png');
        background-position: left -440px;
        width: 253px;
        height: 40px;
        display: block;
    }
    .sprite-submit_destinations {
        background-image: url('/sprites/langs/en_UK/meta_homepage-v38e37e490576f0dba6f13401296a3caa.png');
        background-position: left -480px;
        width: 220px;
        height: 40px;
        display: block;
        outline: none;
    }
    .sprite-submit_destinations:hover,
    .sprite-submit_destinations:focus {
        background-image: url('/sprites/langs/en_UK/meta_homepage-v38e37e490576f0dba6f13401296a3caa.png');
        background-position: left -520px;
        width: 220px;
        height: 40px;
        display: block;
    }
    .sprite-submit_destinations:active {
        background-image: url('/sprites/langs/en_UK/meta_homepage-v38e37e490576f0dba6f13401296a3caa.png');
        background-position: left -560px;
        width: 220px;
        height: 40px;
        display: block;
    }
    #PPT .promo {
        position: absolute;
        z-index: 0;
    }
    #PPT .promo_callout {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        overflow: hidden;
    }
    #PPT .promo_callout_wrap {
        display: inline-block;
        height: 43px;
        padding: 0 12px;
        background: url("/img2/meta_sprites/meta_bg_blk.png") 0 0 repeat;
        box-shadow: -12px 0 20px 16px rgba(0, 0, 0, 0.40);
        float: right;
    }
    #PPT .promo_callout_link {
        position: relative;
        top: 3px;
        color: #3e246d;
        text-decoration: none;
    }
    #PPT .promo_callout_link:hover,
    #PPT .promo_callout_link:visited {
        color: #3e246d;
        text-decoration: none;
    }
    #PPT .promo_callout_text {
        position: relative;
        top: 9px;
        font-weight: bold;
        font-size: 1.50em;
        line-height: 21px;
        color: #3e246d;
        -webkit-font-smoothing: antialiased;
    }
    #PPT .promo_callout_image {
        margin-left: 14px;
    }
    .rtl #PPT .promo_callout_wrap {
        box-shadow: 12px 0 20px 16px rgba(0, 0, 0, 0.40);
    }
    #vrCalculator {
        width: 425px;
        margin: 5px 6px 0;
        font-family: Arial;
        font-size: .9375em;
        color: #2c2c2c;
    }
    #vrCalculator .title {
        font-size: 1.5em;
        color: #2c2c2c;
        font-weight: bold;
        margin-bottom: 5px;
    }
    #vrCalculator .subTitle {
        margin-bottom: 25px;
        font-size: 1.16em;
    }
    #vrCalculator.input label {
        display: block;
        margin-bottom: 5px;
    }
    #vrCalculator.input .location {
        margin-bottom: 26px;
    }
    #vrCalculator.input .row1,
    #vrCalculator.input .row2 {
        margin-bottom: 22px;
    }
    #vrCalculator.input .guests {
        float: left;
        margin-right: 50px;
    }
    #vrCalculator.input .guests .adults {
        display: inline;
        margin-right: 20px;
    }
    #vrCalculator.input .guests .children {
        display: inline;
    }
    #vrCalculator.input .nights {
        float: left;
        clear: right;
    }
    #vrCalculator.input .meals {
        float: left;
        clear: left;
        margin-right: 50px;
    }
    #vrCalculator.input .calculate {
        display: block;
        clear: both;
        margin-bottom: 8px;
        float: left;
    }
/*here*/
#vrCalculator.input .calculate img {
        text-decoration: none;
    }
    #vrCalculator.input .error {
        font-style: italic;
        color: #901000;
        background: url("/img2/sprites/gui-v18.gif") no-repeat -78px -2069px;
        padding: 3px 0 5px 25px;
        margin-bottom: 5px;
    }
    #vrCalculator.results .subTitle {
        font-size: 1em;
        margin-bottom: 5px;
    }
    #vrCalculator.results .subSubTitle {
        margin-bottom: 5px;
    }
    #vrCalculator.results .stats {
        background: #F2F6EB;
        border-width: 1px 0;
        border-color: #D9E4C4;
        border-style: solid;
        width: 450px;
        color: #666;
        padding: 0 10px 2px;
        margin: 3px 0 15px;
    }
    #vrCalculator.results .stats table {
        width: 400px;
        height: 100px;
        border-collapse: collapse;
    }
    #vrCalculator.results .stats table tr th {
        font-weight: bold;
        width: 33%;
        text-align: center;
    }
    #vrCalculator.results .stats table tr .disabled {
        font-weight: normal;
    }
    #vrCalculator.results .stats table tr td {
        vertical-align: middle;
    }
    #vrCalculator.results .stats table tr .data {
        text-align: right;
        padding-right: 52px;
    }
    #vrCalculator.results .stats table .lodging td {
        border-style: dotted;
        border-color: #A6C06E;
        border-width: 1px 0;
    }
    #vrCalculator.results .stats table .meals td {
        border-bottom: 1px solid #A6C06E;
    }
    #vrCalculator.results .stats table tr.approx td {
        font-weight: bold;
        color: #2c2c2c;
    }
    #vrCalculator.results .divider {
        border-top: 1px solid #D9E4C4;
        margin-top: 3px;
    }
    #vrCalculator.results .calcResult {
        height: 32px;
        padding: 0 10px 25px;
        color: #2c2c2c;
    }
    #vrCalculator.results .calcResult .response {
        font-size: 1.16em;
        margin-bottom: 5px;
    }
/*here*/
#vrCalculator.results .calcResult .response span {
        font-weight: bold;
        color: #c60;
    }
    #vrCalculator.results .calcResult .subResponse {
        font-size: 1em;
    }
/*here*/
#vrCalculator.results .calcResult .subResponse span {
        font-weight: bold;
        color: #c60;
    }
/*here*/
#vrCalculator.results .calcResult .response.oops span {
        color: #2c2c2c;
    }
    #vrCalculator.results .search {
        margin: 0 0 16px 10px;
    }
    #vrCalculator.results .search .searchLink {
        display: block;
        float: left;
        margin-right: 14px;
        text-decoration: none;
    }
    #vrCalculator.results .search .changeLink {
        display: block;
        float: left;
        margin-top: 3px;
        font-size: .916em;
    }
    #vrCalculator.results .disclaimer {
        margin-left: 10px;
        font-size: .916em;
        color: #787878;
    }
    #homePageVRCalcPromo {
        width: 267px;
        overflow: hidden;
        font-family: Arial, Tahoma, "Bitstream Vera Sans", Helvetica, sans-serif;
        color: #2c2c2c;
        border: 1px solid #c0d0a1;
        padding: 20px 14px 0 17px;
        margin-bottom: 18px;
    }
    #homePageVRCalcPromo .title {
        font-size: 1.333em;
        font-weight: bold;
        margin-bottom: 2px;
    }
    #homePageVRCalcPromo .subTitle {
        margin-bottom: 10px;
    }
    #homePageVRCalcPromo .promoImg {
        display: block;
    }
    #homePageVRCalcPromo .location {
        margin: 15px 0 12px;
    }
    #homePageVRCalcPromo .location #geoName {
        width: 215px;
        font-size: 1.01em;
    }
    #homePageVRCalcPromo .focusClear {
        color: #787878;
    }
    #homePageVRCalcPromo .buttonDiv {
        margin-bottom: 17px;
    }
    #homePageVRCalcPromo .compare {
        cursor: pointer;
    }
    #homePageVRCalcPromo .ollieLogo {
        float: right;
    }
    #calculatorLanderPromo {
        height: 114px;
        width: 298px;
        border: 1px solid #C0D0A1;
        margin-bottom: 14px;
    }
    #calculatorLanderPromo .title {
        border-bottom: 1px solid #D5E3BB;
        background: #e7eeda;
        font-size: 1.2244em;
        font-family: Arial;
        padding: 6px 13px;
        color: #333;
    }
/*here*/
#calculatorLanderPromo img {
        border: 1px solid #d4e3ba;
        float: left;
        margin: 12px 10px 0 14px;
    }
    #calculatorLanderPromo .copy {
        font-size: .9677em;
        font-weight: normal;
        font-family: Verdana;
        margin-top: 12px;
    }
    #calculatorLanderPromo .copy .compare {
        margin-top: 6px;
    }
/*here*/
#calculatorLanderPromo .copy .compare span.hvrIE6 {
        cursor: pointer;
        color: #202D95;
    }
/*here*/
#calculatorLanderPromo .copy .compare span:hover,
    #calculatorLanderPromo .copy .compare span.mseOvr {
        text-decoration: underline;
    }
    #calculatorOverviewPromo {
        border: 1px solid #d4e3ba;
        margin-bottom: 14px;
        background-color: #F2F6EB;
        cursor: pointer;
    }
    #calculatorOverviewPromo .title {
        border-width: 0 0 1px;
        border-style: solid;
        border-color: #d4e3ba;
        background: #e7eeda;
        font-size: 11px;
        font-family: Arial;
        font-weight: bold;
        padding: 8px 14px;
    }
    #calculatorOverviewPromo .copy {
        font-weight: normal;
        font-family: Verdana;
        padding: 12px 0 15px 10px;
    }
    #calculatorOverviewPromo .copy .calcTitle {
        color: #2c2c2c;
        font-weight: bold;
        font-size: 14px;
        font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    }
    #calculatorOverviewPromo .copy .compare {
        margin-top: 6px;
    }
    #calculatorOverviewPromo.small .copy {
        padding-bottom: 20px;
    }
/*here*/
#calculatorOverviewPromo .copy .compare span.hvrIE6 {
        cursor: pointer;
        color: #202D95;
        font-size: 12px;
        font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    }
/*here*/
#calculatorOverviewPromo .copy .compare span:hover,
    #calculatorOverviewPromo .copy .compare span.mseOvr {
        text-decoration: underline;
    }
    #calculatorOverviewPromo .copy2 {
        float: right;
        width: 25px;
        height: 50px;
        margin-right: 5px;
        background: transparent url("/img2/sprites/vr-v1.gif") -330px -71px no-repeat;
    }
    #vacationRentalLanderPromo {
        width: 298px;
        border: 1px solid #C0D0A1;
        margin-bottom: 14px;
    }
/*here*/
#vacationRentalLanderPromo img {
        border: 1px solid #d4e3ba;
        float: left;
        margin: 2px 9px 0 0;
    }
/*here*/
#vrad img {
        float: left;
        margin: 3px 12px 0 2px;
    }
    #vrad .copy {
        font-family: Verdana, "Bitstream Vera Sans", Arial, Helvetica, sans-serif;
    }
    #vacationRentalLanderPromo .interior {
        margin: 8px 6px 8px 10px;
    }
    #PAGE.filterSearch .modsrch #VRAC_FORM .location {
        float: left;
        margin-right: 12px;
    }
    #PAGE.filterSearch .modsrch #VRAC_FORM .button {
        margin-top: 16px;
    }
    #VRAC_FORM .wide {
        width: 245px;
    }
    #VRAC_FORM .narrow {
        width: 130px;
    }
    #VR_LANDER .vrFormLegend {
        margin-bottom: 10px;
    }
    #VR_LANDER .vrFormLegend.wide {
        width: 439px;
    }
    #VR_LANDER .vrFormLegend.narrow {
        width: 272px;
    }
/*here*/
#VR_LANDER .vrFormLegend span {
        font: bold 1.5em Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    }
    #VR_LANDER .vrLanderForm fieldset .location input {
        width: 322px;
    }
/*here*/
#VR_LANDER .vrLanderForm .hacForm fieldset .wrap span.all {
        width: 105px;
        margin-right: 10px;
    }
    #VR_LANDER .vrLanderForm .hacForm fieldset .location {
        margin-bottom: 12px;
    }
    #VR_LANDER .vrLanderForm {
        margin-bottom: 14px;
        padding: 15px 12px;
        border: 2px solid #c0d0a1;
        background-color: #f2f6eb;
    }
    #VR_LANDER .vrLanderForm .check {
        font-family: Verdana, Arial, Tahoma, "Bitstream Vera Sans", Helvetica, sans-serif;
        background: url("/img2/sprites/vr-v1.gif") no-repeat scroll -153px -286px;
        margin-top: 5px;
        padding-left: 22px;
    }
    #VR_LANDER .vrLanderForm .searchAll {
        margin-top: 7px;
    }
    #VR_LANDER .vrLanderForm .nearbyCities {
        margin-top: 7px;
    }
    #VR_LANDER .vrLanderExpanded {
        float: left;
    }
    #VR_LANDER_INNER_LEFT {
        float: left;
        width: 439px;
    }
    #VR_LANDER_INNER_LEFT .vrFormLegend {
        font-family: Arial;
        font-weight: bold;
        font-size: 1.25em;
        color: #2c2c2c;
    }
    #VR_LANDER_INNER_RIGHT {
        float: left;
        width: 312px;
    }
    #HOMEPAGE .vrFormLegend {
        margin-bottom: 5px;
    }
/*here*/
#HOMEPAGE .vrFormLegend span {
        font: bold 1.5835em Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
        color: #09532d;
    }
/*here*/
        #VRAC_FORM .vrFormLegend a {
        color: #202D95;
        cursor: pointer;
        font: bold 11px Arial, Tahoma, "Bitstream Vera Sans", Helvetica, sans-serif;
        margin-left: 10px;
        white-space: nowrap;
    }
/*here*/
        #VRAC_FORM .vrFormLegend a:hover {
        text-decoration: underline;
    }
/*here*/
        #VRAC_FORM div.vrPricePeriod {
        overflow: hidden;
    }
/*here*/
        #VRAC_FORM .partnership div {
        float: left;
        font-family: Arial;
        color: #656565;
        margin: 0 3px 0 0;
    }
/*here*/
        .vrClusterBubbleTitle a {
        text-decoration: underline;
        font-weight: normal;
    }
/*here*/
        .memOverlay a.localpick {
        position: absolute;
        margin-top: 55px;
        margin-left: 10px;
    }
/*here*/
        .memberOverlay.simple .username a {
        color: #2c2c2c;
    }
/*here*/
        div.avatars {
        overflow: visible;
    }
/*here*/
        div.hp.relative {
        margin-right: 16px;
    }
/*here*/
        .destInfo a {
        text-decoration: underline;
    }
/*here*/
div.relative.member {
        margin-right: 80px;
        width: 370px;
        height: 80px;
        background-color: #599442;
    }
/*here*/
        div.relative.hp .inner .linkToMap a {
        color: #FFF;
        text-decoration: underline;
    }
/*here*/
    div.overlay.hp {
        padding: 0 12px 0 0;
    }
    /*here*/
        #homeMapMemberPins a {
        cursor: pointer;
    }
/*    here    */
    body.withFtr {
        margin-bottom: 28px;
    }
.sprite-arrow_dropdown_wht {
        background-image: url('http://c1.tacdn.com/sprites/langs/en_UK/header_pack-v37a7acefbbd8f09204b3dc048fdbc03d.png');
        background-position: left -264px;
        width: 7px;
        height: 5px;
        background-repeat: no-repeat;
    }
    #HEAD .tabItem:hover .sprite-arrow_dropdown_wht,
    #HEAD .tabItem.mseOvr .sprite-arrow_dropdown_wht,
    #HEAD .tabItem .sprite-arrow_dropdown_wht_show {
        background-image: url('http://c1.tacdn.com/sprites/langs/en_UK/header_pack-v37a7acefbbd8f09204b3dc048fdbc03d.png');
        background-position: left -301px;
        width: 7px;
        height: 5px;
    }
.sprite-arrow_dropdown_wht_refresh,
    #HEAD.header_refresh .tabItem:hover .sprite-arrow_dropdown_wht_refresh,
    #HEAD.header_refresh .tabItem .sprite-arrow_dropdown_wht_refresh_show {
        background-image: url('../assets/header_refresh_pack-v2a5321f1f8a8d4f4e870aec13392cdca.png');
        background-position: left -39px;
        width: 9px;
        height: 7px;
        background-repeat: no-repeat;
    }
#gmap_canvas {
    height: 700px;
    position: relative;
    width: 900px;
}

img.arrow_dropdown_wht.sprite-arrow_dropdown_wht_refresh {}

img.arrow_dropdown_wht.sprite-arrow_dropdown_wht_refresh {}

img.arrow_dropdown_wht.sprite-arrow_dropdown_wht_refresh {}

img.arrow_dropdown_wht.sprite-arrow_dropdown_wht_refresh {}
