@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800);
/*-----------------------------------*/
/* JPlayer - Audio Player */
/*-----------------------------------*/
.jp-interface a:hover,
.jp-interface a:focus,
.jp-interface a:active {
  outline: none;
}
.jp-interface {
  position: relative;
  width: 234px;
  float: left;
}
.jp-jplayer audio,
.jp-jplayer {
  width: 0;
  height: 0;
}
.audio-player {
  background: url(../images/post-bg-audio.jpg) 0 0;
  box-shadow: inset 0px 4px 5px -4px rgba(255, 255, 255, 0.6), 0 5px 5px 0 rgba(0, 0, 0, 0.45);
  padding: 7px;
  position: relative;
}
/* Buttons */
.jp-buttons {
  margin: 3px auto 0 auto;
  background: url(../images/jp-controls.png) 0 0 no-repeat;
  width: 100px;
  height: 43px;
}
.jp-buttons a {
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
  width: 38px;
  height: 43px;
  line-height: 38px;
  text-align: center;
  position: relative;
  float: left;
  color: #bbb3af;
}
.jp-buttons a:before {
  font-family: "glyphicons halflings";
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  text-indent: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-shadow: 0 -1px 0 #000000;
}
.jp-buttons a:hover {
  color: #dad1cd;
}
.jp-buttons a:hover:before {
  text-shadow: 0 0 4px #dad1cd;
}
.jp-buttons a.disabled:hover {
  color: #bbb3af;
  cursor: default;
}
.jp-buttons a.disabled:hover:before {
  text-shadow: 0 -1px 0 #000000;
}
.jp-buttons .jp-play,
.jp-buttons .jp-pause {
  width: 38px;
}
.jp-buttons .jp-previous,
.jp-buttons .jp-next {
  width: 31px;
}
.jp-buttons .jp-previous:before,
.jp-buttons .jp-next:before {
  font-size: 10px;
}
.jp-buttons .jp-previous.disabled,
.jp-buttons .jp-next.disabled {
  opacity: .5 !important;
}
.jp-buttons .jp-play:before {
  content: '\e072';
}
.jp-buttons .jp-pause:before {
  content: '\e073';
}
.jp-buttons .jp-previous:before {
  content: '\e071';
}
.jp-buttons .jp-next:before {
  content: '\e075';
}
.jp-current-time,
.jp-duration,
.jp-volume-bar,
.jp-repeat,
.jp-mute,
.jp-shuffle,
.jp-stop,
.jp-volume-max {
  display: none !important;
}
/* Progress Bar */
.jp-progress {
  height: 9px;
  width: 100%;
  margin: 7px 0;
}
.jp-seek-bar {
  width: 100% !important;
  height: 100%;
  padding: 2px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.35);
  box-shadow: inset 0px 2px 2px -2px rgba(0, 0, 0, 0.8), 0 1px 1px 0 #635854;
}
.jp-play-bar {
  background: #ae5728;
  width: 0;
  height: 100%;
  position: relative;
}
/* Song Title */
.song-title {
  width: 234px;
  height: 144px;
  position: relative;
}
.song-title .item-image {
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 3px -3px rgba(242, 214, 180, 0.7), 0 -3px 3px -3px rgba(0, 0, 0, 0.3);
}
.song-title .item-image:before {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.song-title .item-image img {
  display: block;
}
.song-title .item-caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 7px 8px;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2em;
}
.song-title .item-artist {
  color: #bda791;
}
.song-title .item-song {
  color: #d7d2cc;
  display: block;
}
/* PlayList */
.jp-playlist {
  margin-left: 241px;
  min-height: 210px;
  background-color: #342f36;
  box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.3), 0 3px 3px -3px rgba(242, 214, 180, 0.7), 0 -3px 3px -3px rgba(0, 0, 0, 0.3);
}
.jp-playlist ul {
  list-style: decimal;
  list-style-position: inside;
  padding-top: 1px;
}
.jp-playlist li {
  border-bottom: 1px dotted #4b4c51;
  padding: 10px 10px 10px 15px;
  font-size: 14px;
  font-weight: bold;
  color: #6d6f79;
}
.jp-playlist li > div {
  display: inline-block;
  padding-left: 10px;
  margin-left: 5px;
  border-left: 1px dotted #4b4c51;
}
.jp-playlist li .jp-playlist-item:focus,
.jp-playlist li .jp-playlist-item:active {
  outline: none;
}
.jp-playlist li .item-image {
  display: none;
}
.jp-playlist li .item-caption {
  color: #6d6f79;
  text-transform: uppercase;
}
.jp-playlist li .item-caption .item-song {
  color: #878a96;
}
.jp-playlist li.jp-playlist-current {
  background-color: #3c373f;
  color: #9e9994;
  box-shadow: inset 4px 0 4px -4px rgba(0, 0, 0, 0.6), inset -4px 0 4px -4px rgba(0, 0, 0, 0.6);
}
.jp-playlist li.jp-playlist-current .item-caption {
  color: #9e9994;
}
.jp-playlist li.jp-playlist-current .item-caption .item-song {
  color: #c5c0ba;
}
/* player without playlist */
.no-playlist .jp-interface {
  width: 100%;
}
.no-playlist .jp-playlist {
  display: none;
}
.no-playlist .song-title {
  width: 100%;
  height: auto;
  min-height: 100px;
}
.no-playlist .song-title img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media (max-width: 767px) {
  .jp-playlist {
    margin-left: 0;
    clear: both;
    min-height: inherit;
  }
  .jp-playlist li {
    padding: 5px 5px 5px 8px;
    font-size: 11px;
  }
  .jp-playlist li > div {
    padding-left: 5px;
    margin-left: 0px;
  }
  .jp-interface {
    float: none;
    width: 100%;
  }
  .jp-interface .song-title {
    width: 100%;
    height: auto;
    min-height: 100px;
  }
  .jp-interface .song-title img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
