# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/Reykjavik, Iceland Hotels - Best Deals & Reviews   Gogobot_files/
/Reykjavik, Iceland Hotels - Best Deals & Reviews   Gogobot.html
/hardware-store/
/gwd_workspace.json
/.brackets.json
/.gitignore
/sass/
/node_modules/
/MEAN/mean-sample-ch7/node_modules/
/mean-sample-ch8/node_modules/
/MEAN/node_modules/gulp/
/MEAN/node_modules/gulp-concat/
/MEAN/node_modules/gulp-ng-annotate/
/MEAN/node_modules/gulp-nodemon/
/MEAN/node_modules/gulp-stylus/
/MEAN/node_modules/gulp-sourcemaps/
/MEAN/node_modules/gulp-uglify/
/MEAN/node_modules/jwt-simple/
/MEAN/node_modules/lodash/
/MEAN/node_modules/mongoose/
/MEAN/node_modules/bcrypt/
/MEAN/node_modules/express/
/MEAN/node_modules/.bin/
/mean-sample-ch8/
/MEAN/node_modules/gulp-concat/node_modules/
/MEAN/node_modules/gulp/node_modules/
/MEAN/node_modules/gulp-ng-annotate/node_modules/
/MEAN/node_modules/gulp-nodemon/node_modules/
/MEAN/node_modules/gulp-sourcemaps/node_modules/
/MEAN/node_modules/gulp/node_modules/archy/
/MEAN/node_modules/gulp/node_modules/chalk/
/MEAN/node_modules/gulp/node_modules/deprecated/
/MEAN/node_modules/gulp/node_modules/gulp-util/
/MEAN/node_modules/gulp/node_modules/interpret/
/MEAN/node_modules/gulp/node_modules/liftoff/
/MEAN/node_modules/gulp/node_modules/minimist/
/MEAN/node_modules/gulp/node_modules/orchestrator/
/MEAN/node_modules/gulp/node_modules/pretty-hrtime/
/MEAN/node_modules/gulp/node_modules/semver/
/MEAN/node_modules/gulp/node_modules/tildify/
/MEAN/node_modules/gulp/node_modules/v8flags/
/MEAN/node_modules/gulp/node_modules/vinyl-fs/
/MEAN/node_modules/
/MEAN/node_modules/nodemon/
/MEAN/node_modules/body-parser/
/MEAN/node_modules/body-parser/node_modules/
/MEAN/node_modules/body-parser/node_modules/content-type/package.json
/MEAN/assets/app.js
