<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>

<body ng-app='app'>

    <nav class='navbar navbar-default'>
        <div class='container'>
            <ul class='nav navbar-nav'>
                <li><a href="/#/">Posts</a>
                </li>
                <li><a href="/#/register">Register</a>
                </li>
                <li><a href="/#/login">Login</a>
                </li>
            </ul>
        </div>
    </nav>

    <div ng-view></div>

    <!-- templates/posts.html -->
    <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular-route.js'></script>
    <script src='/app.js'></script>
</body>

</html>
